body {
  text-align: center;
  background-color: #5167be;
}

h1 {
  color: #fff;

  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  color: #5167be;
  margin: 0 5% 5%;
  padding: 1% 0 4%;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 1em 0;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

form {
  font-family: "PT Sans Narrow", sans-serif;
}

input[type="number"] {
  width: 6em;
}
input[type="submit"] {
  margin-left: 2%;
}
